{% extends 'base.html' %}
{% block content %}
    <h2>Lista de Proyectos</h2>
    <ul>
        {% for project in projects %}
            <li>{{ project.name }} - {{ project.manager }}
                {% if user.role == 'admin' or project.manager == user %}
                    <a href="{% url 'project_update' project.id %}">Editar</a>
                {% endif %}
            </li>
        {% empty %}
            <li>No hay proyectos.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'project_create' %}">Crear Proyecto</a>
{% endblock %}